html {
    scroll-behavior: smooth;
}
body {
    margin: 0%;
    overflow-x: hidden;
}
.menu {
    width: 100%;
    height: 12.4%;
    background-image: url('Images/7310db61-c1ca-44ee-8cad-df88633b5885.jpg');
    color: rgb(77, 56, 3);
    font-family: Kings, serif;
    font-size: large;
    display: flex;
    justify-content: left;
    position: absolute;
    left: 0px;
    top: 0px;
    position: fixed;
    top: 0px;
}
.menu h2 {
    margin-left: 2%;
    position: relative;
    top: 3%;
}
.menu img {
    margin-left: 1% ;
    margin-top: 0.5%;
    width: 5%;
    height: 80%;
    
}

.menu button {
    background-color: rgba(0,0,0, 0);
    color: rgb(77, 56, 3);
    position: relative;
    bottom: 2%;
    width: auto;
    height: auto;
    margin-left: 2%;
    border: 0px;
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.button:hover {
    color: rgb(181, 109, 36);
}
.menu img {
    border-radius: 100% ;
}
.homeimage {
    width: 100%;
    height: 87.5%;
    position: absolute;
    top: 12.4%;
    background-image: url('Images/dinosaur.jpg') ;
    background-repeat: none;
    background-size: cover;
    background-color: rgba(255,255,255,0.4);
    background-blend-mode: lighten;
    
}
.homeimage img {
    margin-left: 3%;
    border-radius: 100%;
    position: relative;
    top: 10%;
    width: 31%;
    height: 70%;
    display: inline-block;
}
.homeimage button {
    background-color: rgba(0,0,0,0);
    border: 0px;
    color: rgb(0, 0, 0);
    width: 2.4%;
    height: 4.5%;
    font-size: 32px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
    top: 27%;
    left: 15%;
}

#new {
    margin: 0%;
    position: absolute;
    top:100% ;
    width: 100%;
    height: 100%;
    background-color: rgba(247, 224, 195, 0.5);
    display: inline-block;
    justify-content: center;
}
#new h1 {
    position: relative;
    top: 7%;
    left: 29%;
    font-size: 64px;
    font-family: 'Courier New', Courier, monospace;
    color: #050301;

}
.exhibita {
    background-color: rgb(249, 244, 244);
    position: relative;
    top: 10%;
    left: 5%;
    width: 23%;
    height: 50%;

}
.exhibita img {
    width: 100%;
    height: 70%;
} 
.exhibita h3 {
    margin: 0px;
    width: 80%;
    color: black;
    font-size: 42px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position: relative;
    top: 5%;
    left: 5%;
}
.exhibita button {
    background-color: rgb(249, 244, 244);
    border: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
    top: -5%;
    left: 80%;
    width: auto;
    height: auto;
    font-size: 28px;
}   
.exhibitb {
    background-color: rgb(249, 244, 244);
    position: relative;
    bottom: 40%;
    left: 70%;
    width: 23%;
    height: 50%;

}
.exhibitb img {
    width: 100%;
    height: 70%;
} 
.exhibitb h3 {
    margin: 0px;
    width: 80%;
    color: black;
    font-size: 42px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position: relative;
    top: 0%;
    left: 5%;
}
.exhibitb button {
    background-color: rgb(249, 244, 244);
    border: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
    bottom: 18%;
    left: 80%;
    width: auto;
    height: auto;
    font-size: 32px;
}   
.exhibita:hover {
    box-shadow: 10px 10px 8px 4px rgba(0,0,0,0.2);
    transition: 0.5s;
}
.exhibitb:hover {
    box-shadow: 10px 10px 8px 4px rgba(0,0,0,0.2);
    transition: 0.5s;
}

.exhibitc {
    background-color: rgb(249, 244, 244);
    position: relative;
    bottom: 90%;
    left: 37.5%;
    width: 23%;
    height: 50%;
}
.exhibitc img {
    width: 100%;
    height: 70%;
} 
.exhibitc h3 {
    margin: 0px;
    width: 80%;
    color: black;
    font-size: 42px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position: relative;
    top: 0%;
    left: 5%;
}
.exhibitc button {
    background-color: rgb(249, 244, 244);
    border: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
    bottom: 18%;
    left: 80%;
    width: auto;
    height: auto;
    font-size: 32px;
}    
.exhibitc:hover {
    box-shadow: 10px 10px 8px 4px rgba(0,0,0,0.2);
    transition: 0.5s;
}
.footnote {
    background-color: black;
    position: absolute;
    top: 200%;
    left: 0px;
    width: 100%;
    height: 60%;
    display: flex;
}
.text h1 {
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 100px;
    border-style: solid;
    border-color: white;
    border-left: 5px;
    border-top: 5px;
    border-bottom: 5px;
    color: white;
    font-size: 56px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position: relative;
    top: 20%;
    left: 30%;
}
.footnote img {
    width: 20%;
    height: 70%;
    position: relative;
    top: 14%;
    left: 25%;
    border-radius: 100%;
}
.footy {
    background-color: black;
    position: relative;
    top: 0%;
    left: 10%;
    width: 20%;
    height: 100%;
}
.footy button {
    display: flex;
    flex-direction: column;
    background-color: black;
    border: 0px;
    margin-bottom: 3%;
    width: 100%;
    height: 10%;
    color: white;
    font-size: 32px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
    top: 25%;
    left:-10%;
}
.footy button:hover {
    color: rgb(181, 109, 36);
}
